<!-- Vertical Menu -->
<ng-container *ngIf="layout === 'vertical'">
  <ng-container *ngFor="let item of menu">
    <!-- section -->
    <li
      core-menu-vertical-section
      *ngIf="item.type === 'section'"
      [item]="item"
      class="navigation-header"
    ></li>

    <!-- sub-menu item/collapsible of sections  -->
    <ng-container *ngIf="item.type === 'section'">
      <ng-container *ngFor="let childItem of item.children">
        <!-- item -->
        <li
          core-menu-vertical-item
          *ngIf="childItem.type === 'item'"
          [item]="childItem"
          [ngClass]="{ disabled: childItem.disabled === true }"
          [routerLink]="childItem.url"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: childItem.exactMatch || false }"
        >
          <span class="d-none"></span>
        </li>
        <!-- collapsible -->
        <li
          core-menu-vertical-collapsible
          *ngIf="childItem.type === 'collapsible'"
          [item]="childItem"
          class="nav-item has-sub"
        ></li>
      </ng-container>
    </ng-container>

    <!-- item -->
    <li
      core-menu-vertical-item
      *ngIf="item.type === 'item'"
      [item]="item"
      [ngClass]="{ disabled: item.disabled === true }"
      [routerLink]="item.url"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
    >
      <span class="d-none"></span>
    </li>
    <!-- collapsible -->
    <li
      core-menu-vertical-collapsible
      *ngIf="item.type === 'collapsible'"
      [item]="item"
      class="nav-item has-sub"
    ></li>
  </ng-container>
</ng-container>
<!--/ Vertical Menu -->

<!-- Horizontal Menu -->
<ng-container *ngIf="layout === 'horizontal' && currentUser">
  <ng-container *ngFor="let item of menu">
    <!-- section -->
    <li
      core-menu-horizontal-collapsible
      *ngIf="item.type === 'section'"
      [item]="item"
      class="dropdown nav-item"
    ></li>

    <!-- item -->
    <li
      core-menu-horizontal-item
      *ngIf="item.type === 'item'"
      [item]="item"
      [ngClass]="{ disabled: item.disabled === true }"
      [routerLink]="item.url"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
    >
      <span class="d-none"></span>
    </li>

    <!-- collapsible -->
    <li
      core-menu-horizontal-collapsible
      *ngIf="item.type === 'collapsible'"
      [item]="item"
      class="dropdown dropdown-submenu"
    ></li>
  </ng-container>
</ng-container>
<!--/ Horizontal Menu -->
