<!-- iteration-list.component.html -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-2"><span class="text-muted fw-light">PokerPlannig /</span> Liste des itérations</h4>
  
    <div class="app-ecommerce-category">
      <!-- Tableau de la liste des itérations -->
      <div class="card">
        <div class="card-datatable table-responsive">
          <table class="datatables-iteration-list table border-top">
            <thead>
              <tr>
                <th>ID</th>
                <th>Résultat</th>
                <th>Date d'itération</th>
                <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let iteration of iterations">
                <td>{{ iteration.idIteration }}</td>
                <td>{{ iteration.resultat }}</td>
                <td>{{ iteration.date_Iteration | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                  <!-- Utilisez la classe btn-group pour regrouper les boutons -->
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-primary mr-2" (click)="updateIteration(iteration)">Update</button>
                    <button class="btn btn-sm btn-outline-danger mr-2" (click)="deleteIteration(iteration)">Delete</button>
                    <button class="btn btn-sm btn-outline-info" (click)="showEstimations(iteration.idIteration)">Show Estimations</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  