<h2 class="purple-text">Projets</h2>
<form (ngSubmit)="saveProjet()" [formGroup]="projetForm" class="mt-2">
  <style>
    .purple-text {
      color: #8a2be2; /* Couleur mauve */
    }
  </style>
  <div class="form-group">
    <h6 for="nomProjet">Nom du Projet:</h6>
    <input type="text" id="nomProjet" formControlName="Nom_Projet" class="form-control" />
  </div>

  <div class="form-group">
    <h6 for="client">Client:</h6>
    <input type="text" id="client" formControlName="Client" class="form-control" />
  </div>

  <div class="form-group">
    <h6 for="description">Description:</h6>
    <textarea id="description" formControlName="Description_Projet" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <h6 for="type">Type:</h6>
    <select id="type" formControlName="type" class="form-control">
      <option value="ANGULAR">Angular</option>
      <option value="FIGMA">Figma</option>
      <option value="REACT">React</option>
      <option value="BOOTSTRAP">Bootstrap</option>
      <option value="VUEJS">Vue js</option>
      <option value="SPRINGBOOT">Spring boot</option>
    </select>
  </div>

  <div class="form-group">
    <h6 for="dateDebut">Date de Début:</h6>
    <input type="date" id="dateDebut" formControlName="DateDebut_Projet" class="form-control" />
  </div>

  <div class="form-group">
    <h6 for="dateFin">Date de Fin:</h6>
    <input type="date" id="dateFin" formControlName="DateFin_Projet" class="form-control" />
  </div>

  <hr />

  <h2 class="purple-text">User Storys</h2>
  <div formArrayName="userStory">
    <div *ngFor="let userStory of userStoryControls.controls; let i = index" [formGroupName]="i">
      <div class="form-group">
        <h6 for="titreUS{{ i }}">Titre:</h6>
        <input type="text" id="titreUS{{ i }}" formControlName="titre_US" class="form-control" />
      </div>

      <div class="form-group">
        <h6 for="descriptionUS{{ i }}">Description:</h6>
        <textarea id="descriptionUS{{ i }}" formControlName="description_US" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <h6 for="statutUS{{ i }}">Statut:</h6>
        <select id="statutUS{{ i }}" formControlName="statut_US" class="form-control">
          <option value="Afaire">A faire</option>
          <option value="Encours">En cours</option>
          <option value="Terminée">Terminée</option>
        </select>
      </div>

      <div class="form-group">
        <h6 for="velociteUS{{ i }}">Vélocité:</h6>
        <input type="number" id="velociteUS{{ i }}" formControlName="velocite_US" class="form-control" />
      </div>
    </div>
  </div>

  <button type="button" (click)="ajouterUserStory()" class="btn btn-primary mb-3">
    Ajouter User Story
  </button>
  <hr/>
  <button type="submit" [disabled]="projetForm.invalid" class="btn btn-success">
    Enregistrer Projet
  </button>
</form>

