<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row match-height" *ngIf="isAdmin || isScrumMaster">
      <!-- Medal Card -->
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card card-congratulation-medal">
          <div class="card-body">
            <h5>{{ 'SAMPLE.CONGRATULATIONS' | translate }} 🎉   {{ currentUser?.nom }}!</h5>
            <p class="card-text font-small-3">{{ 'SAMPLE.BADGE' | translate }}</p>
            
            <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" />
          </div>
        </div>
      </div>
      <!--/ Medal Card -->

      <!-- Statistics Card -->
      <div class="col-xl-8 col-md-6 col-12">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">COUNT USERS</h4>
            
          </div>
          <div class="card-body statistics-body">
            <div class="row">
            
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                <div class="media">
                  <div class="avatar bg-light-info mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">24</h4>
                    <p class="card-text font-small-3 mb-0">devoloper</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                <div class="media">
                  <div class="avatar bg-light-danger mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                                        </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">12</h4>
                    <p class="card-text font-small-3 mb-0">Scrum Master</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="media">
                  <div class="avatar bg-light-success mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">22</h4>
                    <p class="card-text font-small-3 mb-0">Prodcut owner</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics Card -->
    </div>

    <div class="row match-height" *ngIf="isAdmin">
      
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <!-- Content-Header Component -->
      
          <!-- Apexchart Line Chart Component-->
          
          <!--/ Apexchart Line Chart Component-->
      
          <!-- Apex Column Charts -->
          
          <!--/ Apex Column Charts -->
      
          <!-- Apex Scatter Charts -->
         
          <!--/ Apex Scatter Charts -->
      
          <!-- Apex Line Charts -->
          
          <!--/ Apex Line Charts -->
      
          <!-- Apex Bar And Candlestick Charts -->
          
          <!--/ Apex Bar And Candlestick Charts -->
      
          <!-- Apex Heatmap And Radialbar Chart -->
          
          <!--/ Apex Heatmap And Radialbar Chart -->
      
          <!-- Apex Radar And Donut Charts -->
        
          <!--/ Apex Radar And Donut Charts -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Content for the Poker Planning Session Card -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Poker Planning Session</h5>
          <p class="card-text">
            Poker planning, also called Scrum poker, is a consensus-based, gamified technique for estimating, mostly used to estimate effort or relative size of development goals in software development.
          </p>
          <img src="assets/images/poker planning.jpg" class="card-img-top" alt="Poker Planning Image">
          <a routerLink="/Session/get" class="btn btn-primary">Start Session</a>
        </div>
      </div>
    
   
      <!--/ Company Table -->

      <!-- Developer Meetup Card -->
      
      <!--/ Developer Meetup Card -->

      <!-- Browser States Card -->
     
      <!-- Browser States Card -->

      <!-- Goal Overview Card -->
      
      <!--/ Goal Overview Card -->

      <!-- Transactions Card -->
      
      <!-- Transactions Card -->
    </div>
  </div>
</div>