<!-- Affichage des événements récupérés -->
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Lieu</th>
          <th>Description</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eve of events | paginate: { itemsPerPage: 6, currentPage: p }">
          <td>{{ eve.priorite_Reunion }}</td>
          <td>{{ eve.lieu_Reunion }}</td>
          <td>{{ eve.titre_Reunion}}</td>
          <td>{{ eve.DateDebut_Reunion | date: 'd MMMM yyyy HH:mm' }}</td>
          <td>{{ eve.DateFin_Reunion | date: 'd MMMM yyyy HH:mm' }}</td>
          <td>
            <button class="btn btn-success add-event-btn mr-2" (click)="ouvrirFormulaireUpdate(eve.idReunion)">Modifier</button>
            <button class="btn btn-danger" (click)="supprimerSprint(eve.idReunion)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>
</div>
