<div class="row" id="table-contextual">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Liste des UserStorys</h4>
      </div>
      <div class="card-body"></div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Titre UserStory</th>
              <th>Description</th>
              <th>Statut UserStory</th>
              <th>Velocite</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let userstory of userstorys"
              [style.background-color]="getBackgroundColor() + '!important'"
            >
              <td>
                <span class="font-weight-bold">{{ userstory.titre_US }}</span>
              </td>
              <td>{{ userstory.description_US }}</td>
              <td>{{ userstory.statut_US }}</td>
              <td>
                <span class="badge badge-pill badge-light-primary mr-1">{{
                  userstory.velocite_US
                }}</span>
              </td>
              <td class="overflow-hidden" #container>
                <div class="d-inline-block">
                  <button
                    id="navbarUserDropdown"
                    type="button"
                    class="btn btn-sm hide-arrow"
                    (click)="toggleDropdown($event, container)"
                  >
                    <i data-feather="more-vertical"></i>
                  </button>
                </div>
                <div
                  ngbDropdownMenu
                  aria-labelledby="navbarUserDropdown"
                  class="dropdown-menu dropdown-menu-right"
                  [ngStyle]="dropdownStyle"
                  #verticalMenu
                >
                  <!-- Bouton pour charger les détails du projet -->
                  <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    (click)="loadProjetDetails(userstory.idUserStory)"
                  >
                    <i data-feather="info" class="mr-50"></i
                    ><span>Details</span>
                  </a>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    (click)="updateUserStory(userstory.idUserStory, userstory)"
                  >
                    <i data-feather="edit-2" class="mr-50"></i><span>Edit</span>
                  </a>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    (click)="deleteProjet(userstory.idUserStory)"
                  >
                    <i data-feather="trash" class="mr-50"></i
                    ><span>Delete</span>
                  </a>
                </div>
              </td>
            </tr>

  
              