<div class="row" id="table-contextual">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Liste des UserStorys</h4>
      </div>
    </div>
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12 mb-1">
          <div class="form-group">
            <h5 for="basicInput">Chercher des UserStorys</h5>
            <input
              type="text"
              class="form-control"
              id="basicInput"
              placeholder="Saisir un text"
              (keyup)="search($event)"
              [(ngModel)]="searchText"
            />
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Titre UserStory</th>
              <th>Description</th>
              <th>Statut UserStory</th>
              <th>Velocite</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let userstory of userstorys"
              [style.background-color]="getBackgroundColor() + '!important'"
            >
              <td>
                <span class="font-weight-bold">{{ userstory.titreUS }}</span>
              </td>
              <td>{{ userstory.description_US }}</td>
              <td>{{ userstory.statut_US }}</td>
              <td>
                <span class="badge badge-pill badge-light-primary mr-1">{{
                  userstory.velocite_US
                }}</span>
              </td>
              <td class="d-flex align-items-center">
                <div ngbDropdown container="body">
                  <a
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    class="hide-arrow"
                    id="dropdownBrowserState"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i
                      data-feather="more-vertical"
                      class="text-primary cursor-pointer mr-50"
                    ></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right"
                    aria-labelledby="dropdownBrowserState"
                  >
                  <!-- Bouton pour charger les détails du projet -->
                  <a
                  class="ngbDropdownItem"
                  class="d-flex align-items-center"
                  href="javascript:void(0);"
                  (click)="loadProjetDetails(userstory.idUserStory)"
                  >
                    <i data-feather="info" class="mr-50"></i
                    ><span>Details</span>
                  </a>
                  <a
                  class="ngbDropdownItem"
                  class="d-flex align-items-center"
                  href="javascript:void(0);"
                  (click)="updateUserStory(userstory.idUserStory, userstory)"
                  >
                    <i data-feather="edit-2" class="mr-50"></i><span>Edit</span>
                  </a>
                  </div>
                </div>
              </td>
            </tr>

           