<div class="row">
 
  <div class="col-md-6" style="height: 3000px;">
    <div class="card" style="height: 470px;">
      <div class="card-header">
        <h5 class="card-title">Ajouter un Reunion</h5>
      </div>
      <div class="card-body">
        <form class="needs-validation" (ngSubmit)="(eventForm.form.valid); eventForm.reset()" #eventForm="ngForm">
          <div class="form-group">
            <label for="priorite_Reunion" class="form-label">Titre de Reunion</label>
            <select class="form-control" id="priorite_Reunion" name="priorite_Reunion" required [(ngModel)]="newEvent.priorite_Reunion" #priority="ngModel">
              <option [value]="TypePriorite.SPRINT_MEETING_PLAINING">SPRINT_MEETING_PLAINING</option>
              <option [value]="TypePriorite.DALIY_SCRUM">DALIY_SCRUM</option>
              <option [value]="TypePriorite.SPRINT_REVIEW">SPRINT_REVIEW</option>
              <option [value]="TypePriorite.SPRINT_RETROSPECTIVE">SPRINT_RETROSPECTIVE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title" class="form-label">Description</label>
            <input type="text" class="form-control" id="titre_Reunion" name="titre_Reunion"
              required [(ngModel)]="newEvent.titre_Reunion">
          </div>
          <div class="form-group">
            <label for="location" class="form-label">Lieu</label>
            <input type="text" class="form-control" id="lieu_Reunion" name="lieu_Reunion" 
              required [(ngModel)]="newEvent.lieu_Reunion" #location="ngModel" />
          </div>
          <div class="form-group">
            <label for="selectedUsers" class="form-label">invitation</label>
            <ng-select
              [items]="users"
              bindLabel="name"
              bindValue="name"
              placeholder="Select a name"
              [multiple]="true"
              [(ngModel)]="selectedUserNames"
              name="selectedUsers"
              [searchable]="true"
              [clearable]="true"
              [closeOnSelect]="false"
              #selectedUsers="ngModel"
              required>
            </ng-select>
          </div>
          <div class="text-center horizontal-buttons">
            <button type="submit" class="btn btn-success add-event-btn mr-1" (click)="addEvent()" rippleEffect>
              Ajouter
            </button>
            <button class="btn btn-success add-event-btn mr-1"(click)="redirigerVersListeSprints()">Reunion</button>
          </div>
          <ng-template #addEventRef>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="assets/images/meet.png" alt="My Image" class="small-image" style="width: 80%;">
  </div>  
</div>